<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                  th:fragment="layout(content)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>base page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<section>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
            <div class="container-fluid">

                <button class="btn btn-dark text-warning fs-2" type="button" disabled>
                    <span class="spinner-border" role="status" aria-hidden="true"></span>
                    <b><i>Loading Systems....</i></b>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link link-danger btn btn-outline-dark" aria-current="page" href="#">Home</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link link-danger btn btn-outline-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Single Clicks
                            </a>
                            <ul class="dropdown-menu">
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/kalyanAscendingNumber}">Kalyan Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/mainAscendingNumber}">Main Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/milanAscendingNumber}">Milan Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/rajdhaniAscendingNumber}">Rajdhani Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/timeAscendingNumber}">Time Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a th:href="@{/contactUs}" class="nav-link link-light btn btn-outline-dark">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light btn btn-outline-dark" href="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success btn btn-outline-dark" th:href="@{/gamePage}">Let`s Start Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success btn btn-outline-dark" th:href="@{/checkingAllLoad}">Checks All Loading</a>
                        </li>
                    </ul>
                    </ul>
                    &nbsp
                    <span class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-danger">LogOut</button>
                    </form>
                </span>
                </div>
            </div>
        </nav>
    </div>
</section>
<hr>
<br><div th:replace="${content}"></div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>