<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-secondary text-white">
<section>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
            <div class="container-fluid">

                <button class="btn btn-dark text-warning fs-4" type="button" disabled>
                    <span class="spinner-border" role="status" aria-hidden="true"></span>
                    <b><i>Loading Systems....</i></b>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link link-danger btn btn-outline-dark" aria-current="page" href="#">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link link-light btn btn-outline-dark" href="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success btn btn-outline-dark" th:href="@{/gamePage}">Let`s Start Game</a>
                        </li>

                    </ul>
                    </ul>
                    &nbsp
                    <span class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-danger">LogOut</button>
                    </form>
                </span>
                </div>
            </div>
        </nav>
        <hr><br>
        <picture >
            <source media="(max-width:5500px )" srcset="D:\springboot\loading\src\main\resources\templates\shivjay..png" sizes="200px">
            <source media="(min-width:250px )" srcset="D:\springboot\loading\src\main\resources\templates\shivjay..png" sizes="500px">
            <img style="height:100%;width:100%;" src="D:\springboot\loading\src\main\resources\templates\shivjay..png">
        </picture>
        <!--
     <li class="nav-item dropdown">
                            <a class="nav-link link-danger btn btn-outline-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Single Clicks
                            </a>
                            <ul class="dropdown-menu">
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/kalyanAscendingNumber}">Kalyan Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/mainAscendingNumber}">Main Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/milanAscendingNumber}">Milan Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/rajdhaniAscendingNumber}">Rajdhani Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/timeAscendingNumber}">Time Market</a></li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a th:href="@{/contactUs}" class="nav-link link-light btn btn-outline-dark">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light btn btn-outline-dark" href="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success btn btn-outline-dark" th:href="@{/gamePage}">Let`s Start Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success btn btn-outline-dark" th:href="@{/checkingAllLoad}">Checks All Loading</a>
                        </li>
                    </ul>

    -->

        <div class="d-flex justify-content-center">
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <button class="" onclick="window.location.reload()">Refresh</button>
        <!--thoughts-->
        <div>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>The truth is not a stick with which to beat yourself.</p>
                </blockquote>
                <figcaption class="blockquote-footer text-light">
                    <cite title="Source Title">shivjay</cite>
                </figcaption>
            </figure>
        </div>
        <!--Footer section -->
        <div class="footer text-warning text-center">
            <button style="font-size:20px;width:400px" class="btn btn-outline-dark">© Copyright 2000. JaanDeveloper.</button>
        </div>

    </div>
</section>
</body>

</html>