<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<div class="container border-danger">
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-dark border-danger">
                <div class="card-header ">
                    <div class="row">
                    <div class="col mb-3 text-primary ">
                        <h2 class="text-secondary fs-2">Welcome</h2>
                        <span class="text-secondary fs-6">Sign in to Continue</span>
                        <hr class="text-danger">
                        <span class="text-danger spinner-grow bg-dark" style="width: 140px; height: 20px;" id="msg"></span>
                        <th:block th:if="${session.msg}">
                            <div class="spinner-grow bg-dark" style="width: 250px; height: 40px;">
                                <i> <span class="text-success fs-5">[[${session.msg}]]</span></i>
                            <th:block th:text="${@userRegisterServiceImp.removeRegisterSessionMassage()}"></th:block>
                            </div>
                                <div class="text-center offset-md-2" style="width: 150px; height: 100px;position:absolute;left:100px;">
                                    <a class="btn btn-outline-info" th:href="@{/signin}">LogIn Here </a>
                                </div>
                        </th:block>
                    </div>

                    <div class="col mb-3  text-center text-warning spinner-grow offset-md-2 border border-success rounded mh-100" style="width: 250px; height: 100px; background-color: rgba(0,0,255,.1);">
                        <span class="fs-1">V</span>
                        <span class="fs-1">S</span><br>
                        <span class="fs-5">Loading System</span>
                    </div>
                </div>
                </div>
                <hr class="text-danger">
                <div class="card-body">
                            <form th:action="@{/saveUser}" onsubmit="return uRegVal()" method="post"  th:object="${userReg}">
                                <div class="row">
                                    <div class="col mb-3">
                                        <span class="text-warning text-center">--UserName</span>
                                        <input type="text" class="form-control bg-dark text-success" maxlength="15" id="username" name="username" required  autofocus placeholder="Enter UserName" aria-label="Enter UserName" th:field="*{username}"  >
                                    </div>
                                    <div class="col mb-3">
                                        <span class="text-warning">--Mobile Number</span>
                                        <input type="text" class="form-control bg-dark text-danger"  minlength="10" id="mobile" name="mobile" required  placeholder="Enter mobile Number" aria-label="Enter mobile Number" th:field="*{mobile}" >
                                    </div>
                                </div>
        <hr class="text-danger">
                                <div class="row">
                                    <div class="col">
                                        <span class="text-warning text-center">-- Password</span>
                                        <input type="password" class="form-control bg-dark text-success" minlength="5" maxlength="15" id="password" name="password" required    placeholder="Enter Password" aria-label="Enter password" th:field="*{password}" >
                                    </div>
                                    <div class="col">
                                        <span class="text-warning">--Confirm Password</span>
                                        <input type="password" class="form-control bg-dark text-danger" minlength="5"  maxlength="15" id="cpassword" name="cpassword" required   placeholder="Confirm Password" aria-label="confirm password" >
                                    </div>
                                </div>

                                <hr class="text-danger">
                            <div class="row text-center">
                                <div class="col">
                                    <button class="btn btn-outline-success" onclick="uRegVal()">-SUBMIT-</button>
                                </div>&nbsp &nbsp
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    function uRegVal(){
          var u=document.getElementById("username").value;
        if(u.length>=15){
            document.getElementById("msg").innerHTML="username Greater than 15 character ";
            return false;
        }
          if(m.length>=11){
            document.getElementById("msg").innerHTML="Please Enter 10 digit Number";
            return false;
        }
         if(m.length<10){
            document.getElementById("msg").innerHTML="Please Enter 10 digit Number";
            return false;
        }
        if(isNaN(m){
            document.getElementById("msg").innerHTML="Please Enter Only digit,Number";
            return false;
        }
          if(p.length>=15){
            document.getElementById("msg").innerHTML="Password Greater than 15 character ";
            return false;
        }
          if(p.length<=5){
            document.getElementById("msg").innerHTML="Password Less than 5 character ";
            return false;
        }
          if(p!===cp){
            document.getElementById("msg").innerHTML="Password Mismatch";
            return false;
        }

    }
   </script>
</body>
</html>